@import url('https://fonts.googleapis.com/css2?Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow:hidden;
}

.container{
    display:flex;
    width:90vw;
}



.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    border-radius: 50px;
    flex:0.5;
    position:relative;
    transition: flex 0.5s ease-in;
    color:#fff;
    cursor:pointer;
    margin:10px;
}

.panel h3{
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom:20px;
    left:20px; */
    opacity:0;
}

.panel.active{
    flex:5;
}

.panel.active h3{
    opacity:1;
    transition: opacity 0.4s ease-in 0.4s;
}

@media(max-width:480px){
    .container{
        width:100vw;
        flex-direction: column;
        height: 90vh;
    }
}

#modal__agregar__mascota,
#modal__asignar__dueno,
#modal__eliminar__dueno,
#modal__eliminar__mascota{
    border: none;
    max-width: 80%;
    height: fit-content;
    width: 30vw;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

#modal__agregar__mascota::backdrop,
#modal__asignar__dueno::backdrop,
#modal__eliminar__dueno::backdrop,
#modal__eliminar__mascota::backdrop{
    backdrop-filter: blur(5px);
}

.modal__tittle__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

@media(max-width:480px){
    #modal__agregar__mascota{
        width:100vw;
    }
}

.modal__btn__close{
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.modal__container__form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.modal__container__name__form{
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    gap: 0.5rem;
}

.modal__input__name{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.modal__select__form{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

.btn__add{
    border: none;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    font-size: 16px;
    font-weight: bold;
}

.btn__add:hover{
    transform: scale(1.05);
    border-radius: 10px;
    background-color: aliceblue;
}

